/**
 * Override these styles in your own Stylesheet.
 **/

/**
.elemental-highchart {}
.elemental-highchart .highchart-container{
    background-color: #E3ECF0;
    padding: 15px;
}
**/

/**
 * Data table examples
 **/

/**
.elemental-highchart .highcharts-data-table {}
.elemental-highchart .highcharts-data-table .highcharts-table-caption {
    display: none;
}
.elemental-highchart .highcharts-data-table thead {
    background-color: black;
    color: white;
}
.elemental-highchart .highcharts-data-table thead th{}
.elemental-highchart .highcharts-data-table tbody{
    background-color: white;
    color: #333333;    
}
.elemental-highchart .highcharts-data-table tbody td{}
.elemental-highchart .highcharts-data-table td.text{}
.elemental-highchart .highcharts-data-table td.number{}
.elemental-highchart .highcharts-data-table td.empty{}

.elemental-highchart .highchart-container .chart-caption{
    padding-top: 15px;
}
**/

/**
 * Chart controls
 **/
/**
.highchart-container .chart-controls{
    display: block;
    text-align: right;
}
.highchart-container .chart-controls a{
    margin-right: 15px;
}

.highchart-container .chart-controls a:last-child{
    margin-right: 0px;
}
**/
/**
 * Series colours
 **/

/**
.highcharts-point.highcharts-color-0,
.highcharts-legend-item.highcharts-color-0 .highcharts-point,
.highcharts-tooltip .highcharts-color-0 {
    fill: #7cb5ec;
}

.highcharts-tooltip.highcharts-color-0,
.highcharts-data-label-connector.highcharts-color-0 {
    stroke: #7cb5ec;
}

.highcharts-point.highcharts-color-1,
.highcharts-legend-item.highcharts-color-1 .highcharts-point,
.highcharts-tooltip .highcharts-color-1 {
    fill: #046b94;
}

.highcharts-tooltip.highcharts-color-1,
.highcharts-data-label-connector.highcharts-color-1 {
    stroke: #046b94;
}

.highcharts-point.highcharts-color-2,
.highcharts-legend-item.highcharts-color-2 .highcharts-point,
.highcharts-tooltip .highcharts-color-2 {
    fill: #53ab57;
}

.highcharts-tooltip.highcharts-color-2,
.highcharts-data-label-connector.highcharts-color-2 {
    stroke: #53ab57;
}

.highcharts-point.highcharts-color-3,
.highcharts-legend-item.highcharts-color-3 .highcharts-point,
.highcharts-tooltip .highcharts-color-3 {
    fill: #1283b0;
}

.highcharts-tooltip.highcharts-color-3,
.highcharts-data-label-connector.highcharts-color-3 {
    stroke: #1283b0;
}

.highcharts-point.highcharts-color-4,
.highcharts-legend-item.highcharts-color-4 .highcharts-point,
.highcharts-tooltip .highcharts-color-4 {
    fill: #9a7a5b;
}

.highcharts-tooltip.highcharts-color-4,
.highcharts-data-label-connector.highcharts-color-4 {
    stroke: #9a7a5b;
}

.highcharts-point.highcharts-color-5,
.highcharts-legend-item.highcharts-color-5 .highcharts-point,
.highcharts-tooltip .highcharts-color-5 {
    fill: #67a7bf;
}

.highcharts-tooltip.highcharts-color-5,
.highcharts-data-label-connector.highcharts-color-5 {
    stroke: #67a7bf;
}

.highcharts-point.highcharts-color-6,
.highcharts-legend-item.highcharts-color-6 .highcharts-point,
.highcharts-tooltip .highcharts-color-6 {
    fill: #9fba4d;
}

.highcharts-tooltip.highcharts-color-6,
.highcharts-data-label-connector.highcharts-color-6 {
    stroke: #9fba4d;
}

.highcharts-point.highcharts-color-7,
.highcharts-legend-item.highcharts-color-7 .highcharts-point,
.highcharts-tooltip .highcharts-color-7 {
    fill: #50a4a5;
}

.highcharts-tooltip.highcharts-color-7,
.highcharts-data-label-connector.highcharts-color-7 {
    stroke: #50a4a5;
}

.highcharts-point.highcharts-color-8,
.highcharts-legend-item.highcharts-color-8 .highcharts-point,
.highcharts-tooltip .highcharts-color-8 {
    fill: #d09861;
}

.highcharts-tooltip.highcharts-color-8,
.highcharts-data-label-connector.highcharts-color-8 {
    stroke: #d09861;
}

.highcharts-point.highcharts-color-9,
.highcharts-legend-item.highcharts-color-9 .highcharts-point,
.highcharts-tooltip .highcharts-color-9 {
    fill: #fcad30;
}

.highcharts-tooltip.highcharts-color-9,
.highcharts-data-label-connector.highcharts-color-9 {
    stroke: #fcad30;
}

.highcharts-point.highcharts-color-10,
.highcharts-legend-item.highcharts-color-10 .highcharts-point,
.highcharts-tooltip .highcharts-color-10 {
    fill: #f13d0c;
}

.highcharts-tooltip.highcharts-color-10,
.highcharts-data-label-connector.highcharts-color-10 {
    stroke: #f13d0c;
}
**/